@charset "utf-8";


/* reset */
*{
    margin: 0;
    padding: 0;
}

/* variáveis */
:root{
    --primary-color: #0a1128;
    --white: #fff;
    --gap: 3rem;
}



/* Títulos e fontes */

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 8rem;
    text-transform: uppercase;
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 4rem;
}

h4{
    font-size: 4rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 4rem;
}

/* Cores */



/* Grid */

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;

}

/* background */

.main-bg{
    background-image: url('/site_completo/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg{
    background: var(--white);
}

